*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: url(/images-about/back-2.jpg)  fixed no-repeat;
    background-size:cover;


}
html{
    scroll-behavior: smooth;
}
header .container, nav{
    display: flex;
    align-content: center;
}
header{
    background: #fff;
    /* border-radius: 10px ; */
    height: 70px;
    margin-bottom: 100px;
}
.container{
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-around;
    height: 70px;
}
.name{
    color: #0174BE;
    display: flex;
    line-height: 67px;
    transition: 0.7s;
    letter-spacing: 2px;
}


.profile{
    color: #0174BE;
    font-weight: bold;
}
.profile:hover{
    color: #192655;
    filter:drop-shadow(0 0 0.75rem #0174BE);
}
.user-nav{
    transition: .7s;
}
.user-nav i:hover{
    color: #192655;

}
.name-of-site, nav{
    align-items: center;
    justify-content: center;
    align-content: center;
}
.this-page{
    background-color:#0C356A;
    color: #fff;
}
.pages-of-site{
    transform: translateX(80px);
}
a{
    text-decoration: none;
    color: #00A9FF;
    font-size: 18px;
    transition: 0.7s;
}
header li:hover{
    background-color:#4E31AA;
    color: #fff;
}
header li:hover a{
    color: #fff;
}

header li{
    color: #00A9FF;
    margin: 0px 10px;
    border-radius: 50px;
    transition: 1s;
    list-style: none;
    padding:7px 20px;
}
header i{
    font-size: 35px;
    padding: 0 0 0 20px;
    color: #0174BE;
    transition: 0.6s;
}

header i:hover{
    color: #0174BE;
    filter:drop-shadow(0 0 0.75rem #00A9FF);
}
strong{
    font-size: 20px;
    color: #C08261;
    cursor:pointer;
}
.site-navigate{
    display: flex;
}
/* choose mount */
.move-to-end, .move-to-start{
    /* transform: translate(0px, 200px); */
    width: 6%;
    background: #190482;
    padding: 5px;
    position: fixed;
    border-radius: 0 10px 10px 0;
    z-index: 2;
    transition: .7s;
}
.move-to-end:hover a, .move-to-start:hover a{
   
    color: #0C356A;
}
.move-to-end:hover, .move-to-start:hover{
    background-color: #fff;
}
.move-to-start{
    transform: translate(0px, 150px);
}
.move-to-end{
    transform: translate(0px, 540px);
}
.choose-mount{
    /* overflow: hidden; */
    /* height: 100%; */
    transform: translate(0px, 190px);
    width: 6%;
    background: #190482;
    padding: 5px;
    position: fixed;
    border-radius: 0 10px 10px 0;
    z-index: 2;
    /* border: 3px solid red; */
}
.choose-mount a{
    color: #fff;
    transition: .3s;
    /* padding: 2px; */
}

.choose-mount li{
    border-radius: 3px;
    text-align: center;
    padding: 5px 2px;
    /* width: 100px; */
}
.choose-mount li:hover {
    background-color: #fff;
}
.choose-mount li:hover a{
    color: #190482;
}
.choose-mount li:active{
    background-color: #00A9FF;
}

/* .mountain{
    /* display: flex; 
} */
.mountain li{
    margin-bottom:9.4px;
    /* padding: 5px; */
}

.img-for-mount{
    width: 500px;
    border-radius: 10px;
}

/* main */


/* goverla */
.Goverla{
    background: rgb(48, 30, 103, 0.3);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 150px;
    margin-bottom: 100px;
}

.aside-goverla{
    backdrop-filter: blur(20px);
    /* margin-left: 00px; */
    text-align: center;
    border: 3px solid white;
    width: 550px;
    border-radius: 20px;
    padding: 20px;
}
.aside-goverla h3{
    font-size: 30px;
    color: #0C356A;
}
.aside-goverla p{
    font-size: 20px;
    font-weight: bold;
}
.about-goverla{
    border: 3px solid #0C356A;
    /* height: 380px; */
    padding: 20px;
    margin-left: 20px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}
 .info {
    text-align: justify;
    font-size: 20px;
    color: #fff;
}
.int-fact{
    text-align: justify;
    font-size: 20px;
    color: #D8D9DA;
}

/* Шпиці */

.Shpuci{
    margin-bottom: 100px;
    height: 600px;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
    padding: 0 150px;
    background: rgb(91, 8, 136, 0.3);
}
.aside-shpuci{
    padding: 20px;
    border: 3px solid white;
    text-align: center;
    backdrop-filter: blur(20px);
    border-radius: 20px;
}
.aside-shpuci p{
    font-size: 20px;
    font-weight:bold;
}
.aside-shpuci h3{
    padding-top: 5px;
    font-size: 30px;
    color: #3D0C11;

}
.shpuci-img{
    border-radius: 10px;
    width:500px;
}
.about-shpuci{
    padding: 20px;
    border-radius: 20px;
    margin-right: 20px;
    border: 3px solid #3D0C11;
    backdrop-filter: blur(5px);
}
/* footer */

.information{
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: #12486B;
    background-color: white;
    text-align: center;
    padding: 20px;
}

.socials-links a{
    padding: 0 0 0 10px;
    margin: 0;
    color:#12486B;
    text-decoration: none;
    font-size: 30px;
}
.socials-links a:hover{
    border-bottom:3px solid #12486B;
}
/* pikuy */
.Pikuy{
    margin-bottom: 100px;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 0 150px;
    background: rgb(154, 59, 59,0.3);
}
.aside-pikuy{
    margin-right: 20px;
    padding: 20px;
    border: 3px solid white;
    text-align: center;
    backdrop-filter: blur(20px);
    border-radius: 20px;
}
.aside-pikuy p{
    font-size: 20px;
    font-weight:bold;
}
.aside-pikuy h3{
    padding-top: 5px;
    font-size: 30px;
    color: #425F57;

}
.pikuy-img{
    border-radius: 10px;
    width:500px;
}
.about-pikuy{
    padding: 20px;
    border-radius: 20px;
    margin-right: 20px;
    border: 3px solid #425F57;
    backdrop-filter: blur(5px);
}
/*  */
.Chornogora{
    margin-bottom: 100px;
    height: 600px;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
    padding: 0 150px;
    background: rgb(66, 95, 87, 0.3);
}
.aside-chornogora{
    margin-right: 20px;
    padding: 20px;
    border: 3px solid white;
    text-align: center;
    backdrop-filter: blur(20px);
    border-radius: 20px;
}
.aside-chornogora p{
    font-size: 20px;
    font-weight:bold;
}
.aside-chornogora h3{
    padding-top: 5px;
    font-size: 30px;
    color: #8E3200;

}
.pikuy-img{
    border-radius: 10px;
    width:500px;
}
.about-chornogora{
    padding: 20px;
    border-radius: 20px;
    margin-right: 20px;
    border: 3px solid #8E3200;
    backdrop-filter: blur(5px);
}

/* bluznica */

.Bluznica{
    margin-bottom: 100px;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 0 150px;
    background: rgb(54, 139, 133, 0.3);
}
.aside-bluznica{
    margin-right: 20px;
    padding: 20px;
    border: 3px solid white;
    text-align: center;
    backdrop-filter: blur(20px);
    border-radius: 20px;
}
.aside-bluznica p{
    font-size: 20px;
    font-weight:bold;
}
.aside-bluznica h3{
    padding-top: 5px;
    font-size: 30px;
    color: #316B83;

}
.pikuy-img{
    border-radius: 10px;
    width:500px;
}
.about-bluznica{
    padding: 20px;
    border-radius: 20px;
    margin-right: 20px;
    border: 3px solid #316B83;
    backdrop-filter: blur(5px);
}
/* gemba */

.Gemba{
    margin-bottom: 100px;
    height: 600px;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
    padding: 0 150px;
    background: rgb(33, 9, 78,0.3);
}
.aside-gemba{
    margin-right: 20px;
    padding: 20px;
    border: 3px solid white;
    text-align: center;
    backdrop-filter: blur(20px);
    border-radius: 20px;
}
.aside-gemba p{
    font-size: 20px;
    font-weight:bold;
}
.aside-gemba h3{
    padding-top: 5px;
    font-size: 30px;
    color: #21094E;

}
.pikuy-img{
    border-radius: 10px;
    width:500px;
}
.about-gemba{
    padding: 20px;
    border-radius: 20px;
    margin-right: 20px;
    border: 3px solid #21094E;
    backdrop-filter: blur(5px);
}

/* smotruch */

.Smotruch{
    margin-bottom: 100px;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 0 150px;
    background: rgb(118, 97, 97,0.3);
}
.aside-smotruch{
    margin-right: 20px;
    padding: 20px;
    border: 3px solid white;
    text-align: center;
    backdrop-filter: blur(20px);
    border-radius: 20px;
}
.aside-smotruch p{
    font-size: 20px;
    font-weight:bold;
}
.aside-smotruch h3{
    padding-top: 5px;
    font-size: 30px;
    color: #433520;

}
.pikuy-img{
    border-radius: 10px;
    width:500px;
}
.about-smotruch{
    padding: 20px;
    border-radius: 20px;
    margin-right: 20px;
    border: 3px solid #433520;
    backdrop-filter: blur(5px);
}

/* rebra */
.Rebra{
    margin-bottom: 100px;
    height: 600px;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
    padding: 0 150px;
    background: rgb(118, 97, 97,0.3);
}
.aside-rebra{
    margin-right: 20px;
    padding: 20px;
    border: 3px solid white;
    text-align: center;
    backdrop-filter: blur(20px);
    border-radius: 20px;
}
.aside-rebra p{
    font-size: 20px;
    font-weight:bold;
}
.aside-rebra h3{
    padding-top: 5px;
    font-size: 30px;
    color: #433520;

}
.pikuy-img{
    border-radius: 10px;
    width:500px;
}
.about-rebra{
    padding: 20px;
    border-radius: 20px;
    margin-right: 20px;
    border: 3px solid #433520;
    backdrop-filter: blur(5px);
}