*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(/images/login-back.jpg);
    background-size: cover;
}
/* header */
header a{
    text-decoration: none;
    color: #000;
}
.content:hover{
    background-color: black;
    color: orange;
    box-shadow:  0 0 50px 10px yellow;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 400px;
    height: 50px;
    padding: 30px;
    box-shadow:  0 0 50px 10px#fff;
    transition: .5s;
    border-radius: 40px;
}
header{
    transform: translate(0, 100px);
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    /* z-index: 4; */
    margin-bottom: 25px;
}
header i{
    /* border: 3px solid red; */
    font-size: 40px;
    position: relative;
    display: block;
}

/* main */
main{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
article{
    height: 90vh;
    width: 50%;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}


.login{
    margin-top: 10px;
}
.login, .password{
    display: flex;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
}
::placeholder{
    color: black;
}
:placeholder-shown{
    background-color: #FFBA86;
}
:placeholder-shown:focus{
    background-color: white;
}
.login-input{
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    width: 400px;
    height: 50px;
    border-radius: 10px;
}
.password-input{
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    width: 400px;
    height: 50px;
    border-radius: 10px;
}
.login-place{
    border: 3px solid white;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    background:transparent;
    backdrop-filter: blur(15px);
    padding: 20px 50px  ;
    height: 550px;
    border-radius: 20px 0 0 20px;
}
.login-place h1{
    font-size: 35px;
    color: #3D0C11;
    padding-bottom: 20px;
}

/* .login-label, .password-label{
     position: absolute;
     transform: translate(-390px, 15px);
     color: grey;
} */
.login-input, .password-input{
    outline: none;
}
.login-button{
    background-color: #3D0C11;
    box-shadow: 0px 0px 20px 2px #3D0C11;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.forgot{
    display: flex;
    border: 3px solid white;
    border-radius: 0 20px 20px 0 ;
    background-image: url(/images/login-side-back.jpg);
    background-size: cover;
    /* border: 2px solid red; */
    width: 100%;
    height: 550px;
    padding: 20px 70px;
    text-align: center;
    color: #fff;
    justify-content: center;
    align-items: center;
}
.login-button:hover{
    cursor: pointer;
    transition: .2s;
}
.login-button:active{
    background-color: orange;
    box-shadow: 0px 0px 20px 2px  #E2C799;
    color: #000;
}
.bxs-down-arrow{
    position: absolute;
    font-size: 25px;
    transform: translateX(180px);
}
.bxs-lock-alt, .bxs-user{
    position: absolute;
    font-size: 25px;
    transform: translateX(180px);
}

.quest{
    color: black;
    width: 400px;
    margin: 0 auto;
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: center; */
}
.go{
    margin: 0 auto;
    color: white;
    filter: drop-shadow(0 0 0.1rem black);
    font-size: 20px;
    padding-top: 20px;
}
.reg-a{
    text-decoration: none;
    color: #000;
}
.arrow-go i { 
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
    position: absolute;
    transform: translateX(-20px);
    /* display: flex; */
    margin-top: 30px;
    /* right:980px; */
    flex-direction: column;
}
.reg-link:hover{
    cursor: pointer;
}
.reg-link{
    scale: 1.5;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
    background-color: #fff;
    /* text-decoration: none; */
    /* display: flex; */
    text-align: center;
    justify-content: center;
    /* position: absolute; */
    margin-top: 90px;
    width: 300px;
    height: 30px;
}
